@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";

@include generate-container();
@include column-default-style();
@include generate-columns();

body {
    margin: 0;
    padding: 0;
}

.background--header {
    background: url("./../img/bg-pattern.png"), linear-gradient(to right, rgb(220,36,48), rgb(123,67,151) ); 
}

.background--warning {
    background-color: #fdcb4f;
}

.background--image {
    background-image: url("./../img/bg-cta.jpg");
    background-position: center;
}

.background--image-layer {
    background-color: rgba(0,0,0,.4);
}

.background--secondary {
    background-color: #222;
    color: #656565;
}